{% extends "base.html" %}

{% block content %}

  <div class="row d-flex justify-content-lg-start pl-5 pb-3 pt-2">
      {% if current_user.is_authenticated %}
      <h2> Hello </h2> <h1 class="pl-3" style="font-weight: 700; font-style: italic; text-decoration:underline;">{{current_user.username}} </h1>
      {% else %}
      <p> Please login or register </p>
      {% endif %}
  </div>

    
  <h2 class=" card-header pb-4 text-info"> UPCOMING APPOINTMENTS:</h2>
  <div class="d-block" style="overflow-y: auto;">
    <div class="card-body row d-flex flex-nowrap justify-content-between pl-4">
      {% for service in services %}
      <div class="card text-white bg-info mb-3 mr-3" style="max-width: 18rem; min-width: 15rem;">
        <div class="card-header">{{ service.date.strftime("%m/%d/%Y") }}  {{ service.time.strftime("%I:%M %p") }}</div>
        <div class="card-body">
          <h4 class="card-title text-warning">{{ service.pet_name }}</h4>
          <h5 class="card-title">{{ service.type_service }}</h5>
          <p class="card-text">{{ service.notes }}</p>
          <a class="text-warning" href="{{ url_for('update_service', service_id = service.id) }} "> Update </a>
        </div>
      </div>
      <br> 
      {% endfor %}
    </div>
  </div>

  <div class="d-block">
    <h2 class="card-header pb-4 text-info"> PETS:</h2>
    <div class="row d-flex justify-content-between pl-4">
      {% for pet in pets %}
        <div class="col-sm-l6">
          <div class="card border-info mb-3" style="width: 14rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6TBdfjBYxySYLtu52o314f0rTPJlkEs5ASQ&usqp=CAU" alt="Card image cap">
            <div class="card-body text-info">
              <h5 class="card-title text-warning">{{ pet.name }}</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush text-info">
              <li class="list-group-item">Pet Type: {{ pet.pet_type }}</li>
              <li class="list-group-item">Pet Size: {{ pet.size }}</li>
              <li class="list-group-item">Pet Weight: {{ pet.weight }} LB</li>
            </ul>
            <div class="card-body">
              <a href="{{ url_for('update_pet', pet_id = pet.id) }}" class="card-link text-warning">Update</a>
            </div>
          </div>
        </div>
      <br> 
    {% endfor %}
    </div>
  </div>
  <br>

{% block modal %} {% endblock %}
{% endblock %}





