{% extends  "base.html" %}
{% block content %}
<div class="text-center d-flex justify-content-center" style="padding-top: 15rem;">
    <form class="form-signin" method="post">
        {{form.hidden_tag()}}
        <h2 class="d-inline text-warning bg-info rounded p-1">PB&J</h2>
        <h1 class="h3 mb-3 mt-3 font-weight-normal">Register</h1>
        <div class="" style="width: 18rem">
            {{form.email.label(class="sr-only")}}{{form.email(type="email", class="form-control", placeholder="Enter email")}}
        </div>
        <div class="" style="width: 18rem">
            {{form.username.label(class="sr-only")}}{{form.username(class="form-control", placeholder="Enter Username")}}
        </div>
        <div class="" style="width: 18rem">
            {{form.phone.label(class="sr-only")}}{{form.phone(class="form-control", placeholder="Enter Phone Number")}}
        </div>
        <div class="" style="width: 18rem">
            {{form.password.label(class="sr-only")}}{{form.password(type="password", class="form-control", placeholder="Password")}}
        </div>
        <div class="" style="width: 18rem">
            {{form.pass_confirm.label(class="sr-only")}}{{form.pass_confirm(type="password", class="form-control", placeholder="Confirm Password")}}
        </div>
        {{form.submit(type="submit", class="btn-lg btn-primary btn-block mb-3")}}
        <a class="text-muted" href="{{url_for('login')}}"> Log In</a>
    </form>
</div>

{% endblock %}
